@model List<FPTS_API.Models.InvoiceLine>
@{
    ViewBag.Title = "InvoiceLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-body">
    <h1>Khai báo thông tin chi tiết hóa đơn</h1>
    @Html.BeginForm("InvoiceLine", "Invoice", FormMethod.Post)
    {
    <div class="form-invoice-info">
        <div class="form-invoice-input">
            <label class="label-input" for="invoicelineid">ID Chi Tiết Hóa Đơn</label>
            <input type="text"
                   id="txtInvoiceLineID"
                   name="invoicelineid"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="invoiceid">ID Hóa Đơn</label>
            <input type="text"
                   id="txtInvoiceID"
                   name="invoiceid"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="productname">Tên Sản Phẩm</label>
            <input type="text" id="txtProductName" name="productname" onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="quantity">Số Lượng</label>
            <input type="text"
                   id="txtQuantity"
                   name="quantity"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="price">Giá Tiền</label>
            <input type="text"
                   id="txtPrice"
                   name="price"
                   onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="createon">Ngày Tạo</label>
            <input type="date" id="txtCreateDate" name="createdate" onblur="handleError(this.id)" />
            <span style="color: red; display: block"></span>

        </div>
    </div>
    <div class="form-invoice-btn">
        <button class="btn-invoice" id="btn-create" name="create" value="Create" onclick="Create()">Thêm</button>
        <button style="display:none" class="btn-invoice" id="btn-update" name="update" value="Update" onclick="Update()">Sửa</button>
        <button style="display:none" class="btn-invoice" id="btn-delete" name="delete" value="Delete" onclick="Delete()">Xóa</button>
        <button class="btn-invoice" id="btn-search" name="search" value="Search" onclick="Search()">Tìm Kiếm</button>
        <button class="btn-invoice" id="btn-refresh" name="refresh" value="Refresh">Làm Mới</button>
    </div>
    }
</div>
<div class="invoice-data-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Chi Tiết Hóa Đơn</th>
                <th>ID Hóa Đơn</th>
                <th>Tên Sản Phẩm</th>
                <th>Số Lượng</th>
                <th>Giá Tiền</th>
                <th>Ngày Tạo</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr style="text-align:center">
                    <td>@Html.DisplayTextFor(m => Model[i].ID)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].InvoiceID)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].ProductName)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].Quantity)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].Price)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].CreateDate)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="data-paginate"></div>
</div>
<script>
    const isNull = (id) => {
        if (document.getElementById(id).value.trim() === "") {
            return true
        }
        else
            return false
    }

    const handleError = (id) => {
        document.getElementById(id).parentElement.querySelector("span").innerText = ""
    }
    const handleUpdate = (i) => {
        const x = document.getElementById("btn-update");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (i === 0) {
            let getDate = document.querySelector(`table tbody tr:first-child`).children[5].innerText.slice(0, -11).split("/")
            if (parseInt(getDate[0]) >= 1 && parseInt(getDate[0]) <= 9) {
                getDate[0] = "0" + getDate[0]
            }
            if (parseInt(getDate[1]) >= 1 && parseInt(getDate[1]) <= 9) {
                getDate[1] = "0" + getDate[1]
            }
            const dateFormat = getDate[2].trim() + "-" + getDate[0] + "-" + getDate[1]
            document.getElementById('txtInvoiceLineID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText
            document.getElementById('txtInvoiceID').value = document.querySelector(`table tbody tr:first-child`).children[1].innerText
            document.getElementById('txtProductName').value = document.querySelector(`table tbody tr:first-child`).children[2].innerText
            document.getElementById('txtQuantity').value = document.querySelector(`table tbody tr:first-child`).children[3].innerText
            document.getElementById('txtPrice').value = document.querySelector(`table tbody tr:first-child`).children[4].innerText
            document.getElementById('txtCreateDate').value = dateFormat
        } else {
            let getDate = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[5].innerText.slice(0, -11).split("/")
            if (parseInt(getDate[0]) >= 1 && parseInt(getDate[0]) <= 9) {
                getDate[0] = "0" + getDate[0]
            }
            console.log(getDate)
            if (parseInt(getDate[1]) >= 1 && parseInt(getDate[1]) <= 9) {
                getDate[1] = "0" + getDate[1]
            }
            console.log(getDate)
            const dateFormat = getDate[2].trim() + "-" + getDate[0] + "-" + getDate[1]
            document.getElementById('txtInvoiceLineID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
            document.getElementById('txtInvoiceID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[1].innerText
            document.getElementById('txtProductName').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[2].innerText
            document.getElementById('txtQuantity').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[3].innerText
            document.getElementById('txtPrice').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[4].innerText
            document.getElementById('txtCreateDate').value = dateFormat

        }
    }

    const handleDelete = (i) => {
        const x = document.getElementById("btn-delete");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        i === 0 ? document.getElementById('txtInvoiceLineID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText : document.getElementById('txtInvoiceLineID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
    }

    const Delete = () => {
        const x = document.getElementById("btn-delete");
        const y = document.getElementById("txtInvoiceLineID");
        if (isNull("txtInvoiceLineID")) {
            document.getElementById('btn-delete').setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }

    const Update = () => {
        const x = document.getElementById("btn-update");
        if (isNull("txtInvoiceLineID") || isNull("txtInvoiceID") || isNull("txtProductName") || isNull("txtQuantity") || isNull("txtPrice") || isNull("txtCreateDate")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            x.setAttribute("type", "submit")
        }
    }

    const Create = () => {
        const x = document.getElementById("btn-create");
        if (isNull("txtInvoiceLineID") || isNull("txtInvoiceID") || isNull("txtProductName") || isNull("txtQuantity") || isNull("txtPrice") || isNull("txtCreateDate")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            x.setAttribute("type", "submit")
        }
    }

    const Search = () => {
        const x = document.getElementById("btn-search");
        const y = document.getElementById("txtInvoiceLineID");
        if (isNull("txtInvoiceLineID")) {
            x.setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
        }
    }
</script>


