@model List<FPTS_API.Models.InvoiceSetup>
@{
    ViewBag.Title = "InvoiceSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-body">
    <h1>Khai báo thông tin dải hóa đơn</h1>
    <form id="form_info" method="post">
        <div class="form-invoice-info">
            <div class="form-invoice-input">
                <label class="label-input" for="invoicesetupid">ID Dải Hóa Đơn</label>
                <input type="text"
                       id="txtInvoiceSetupID"
                       name="invoicesetupid"
                       onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
            <div class="form-invoice-input">
                <label class="label-input" for="typename">Loại Dải Hóa Đơn</label>
                <input type="text"
                       id="txtTypeName"
                       name="typename"
                       onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
            <div class="form-invoice-input">
                <label class="label-input" for="symbol">Ký Hiệu</label>
                <input type="text" id="txtSymbol" name="symbol" onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
            <div class="form-invoice-input">
                <label class="label-input" for="startdate">Ngày Bắt Đầu</label>
                <input type="date" id="txtStartDate" name="startdate" onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
            <div class="form-invoice-input">
                <label class="label-input" for="createby">Được Tạo Bởi</label>
                <input type="text"
                       id="txtCreateBy"
                       name="createby"
                       onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
            <div class="form-invoice-input">
                <label class="label-input" for="invoicestatus">Trạng Thái</label>
                <input type="text"
                       id="txtInvoiceStatus"
                       name="invoicestatus"
                       onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
            <div class="form-invoice-input">
                <label class="label-input" for="createdon">Ngày Tạo</label>
                <input type="date" id="txtCreatedOn" name="createdon" onblur="handleError(this.id)" />
                <span style="color: red; display: block"></span>

            </div>
        </div>
        <div class="form-invoice-btn">
            <button class="btn-invoice" id="btn-create" onclick="Create()">Thêm</button>
            <button style="display:none" class="btn-invoice" id="btn-update" onclick="Update()">Sửa</button>
            <button style="display:none" class="btn-invoice" id="btn-delete" onclick="Delete()">Xóa</button>
            <button class="btn-invoice" id="btn-search" onclick="Search()">Tìm Kiếm</button>
            <button class="btn-invoice" id="btn-refresh" onclick="Refresh()">Làm Mới</button>
        </div>
        </form>
</div>
<div class="invoice-data-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Dải Hóa Đơn</th>
                <th>Loại Dải Hóa Đơn</th>
                <th>Ký Hiệu</th>
                <th>Ngày Bắt Đầu</th>
                <th>Được Tạo Bởi</th>
                <th>Ngày Tạo</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr style="text-align:center">
                    <td>@Html.DisplayTextFor(m => Model[i].ID)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].TypeName)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].Symbol)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].StartDate)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].CreateBy)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].CreateOn)</td>
                    <td>@Html.DisplayTextFor(m => Model[i].InvoiceStatus)</td>
                    <td>
                        <span onclick="handleUpdate(@i)">
                            <img style="width:18px; height:18px"
                                 src="~/Content/images/edit.svg" title="Edit user" />
                        </span>
                        <span onclick="handleDelete(@i)">
                            <img style="width:18px; height:18px; margin-left: 4%;"
                                 src="~/Content/images/bin.svg" title="Delete user" />
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="data-paginate"></div>
</div>
<script>
    const isNull = (id) => {
        if (document.getElementById(id).value.trim() === "") {
            return true
        }
        else
            return false
    }

    const handleError = (id) => {
        document.getElementById(id).parentElement.querySelector("span").innerText = ""
    }
    const handleUpdate = (i) => {
        const x = document.getElementById("btn-update");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (i === 0) {
            let getDate = document.querySelector(`table tbody tr:first-child`).children[3].innerText.slice(0, -11).split("/")
            if (parseInt(getDate[0]) >= 1 && parseInt(getDate[0]) <= 9) {
                getDate[0] = "0" + getDate[0]
            }
            if (parseInt(getDate[1]) >= 1 && parseInt(getDate[1]) <= 9) {
                getDate[1] = "0" + getDate[1]
            }
            const dateFormat = getDate[2].trim() + "-" + getDate[0] + "-" + getDate[1]
            let getDateCreate = document.querySelector(`table tbody tr:first-child`).children[5].innerText.slice(0, -11).split("/")
            console.log(getDateCreate)
            if (parseInt(getDateCreate[0]) >= 1 && parseInt(getDateCreate[0]) <= 9) {
                getDateCreate[0] = "0" + getDateCreate[0]
            }
            console.log(getDateCreate)
            if (parseInt(getDateCreate[1]) >= 1 && parseInt(getDateCreate[1]) <= 9) {
                getDateCreate[1] = "0" + getDateCreate[1]
            }
            console.log(getDateCreate)
            const dateFormatCreate = getDateCreate[2].trim() + "-" + getDateCreate[0] + "-" + getDateCreate[1]
            document.getElementById('txtInvoiceSetupID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText
            document.getElementById('txtTypeName').value = document.querySelector(`table tbody tr:first-child`).children[1].innerText
            document.getElementById('txtSymbol').value = document.querySelector(`table tbody tr:first-child`).children[2].innerText
            document.getElementById('txtStartDate').value = dateFormat
            document.getElementById('txtCreateBy').value = document.querySelector(`table tbody tr:first-child`).children[4].innerText
            document.getElementById('txtCreatedOn').value = dateFormatCreate
            document.getElementById('txtInvoiceStatus').value = document.querySelector(`table tbody tr:first-child`).children[6].innerText
        } else {
            let getDate = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[3].innerText.slice(0, -11).split("/")
            if (parseInt(getDate[0]) >= 1 && parseInt(getDate[0]) <= 9) {
                getDate[0] = "0" + getDate[0]
            }
            if (parseInt(getDate[1]) >= 1 && parseInt(getDate[1]) <= 9) {
                getDate[1] = "0" + getDate[1]
            }
            const dateFormat = getDate[2].trim() + "-" + getDate[0] + "-" + getDate[1]
            let getDateCreate = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[5].innerText.slice(0, -11).split("/")
            if (parseInt(getDateCreate[0]) >= 1 && parseInt(getDateCreate[0]) <= 9) {
                getDateCreate[0] = "0" + getDateCreate[0]
            }
            if (parseInt(getDateCreate[1]) >= 1 && parseInt(getDateCreate[1]) <= 9) {
                getDateCreate[1] = "0" + getDateCreate[1]
            }
            const dateFormatCreate = getDateCreate[2].trim() + "-" + getDateCreate[0] + "-" + getDateCreate[1]
            document.getElementById('txtInvoiceSetupID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
            document.getElementById('txtTypeName').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[1].innerText
            document.getElementById('txtSymbol').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[2].innerText
            document.getElementById('txtStartDate').value = dateFormat
            document.getElementById('txtCreateBy').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[4].innerText
            document.getElementById('txtCreatedOn').value = dateFormatCreate
            document.getElementById('txtInvoiceStatus').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[6].innerText
        }
    }

    const handleDelete = (i) => {
        const x = document.getElementById("btn-delete");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        i === 0 ? document.getElementById('txtInvoiceSetupID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText : document.getElementById('txtInvoiceSetupID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
    }

    const Delete = () => {
        const x = document.getElementById("btn-delete");
        const y = document.getElementById("txtInvoiceSetupID");
        if (isNull("txtInvoiceSetupID")) {
            document.getElementById('btn-delete').setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
            document.getElementById("form_info").setAttribute("action", "@Url.Action("DeleteUser", "System")")
        }
    }

    const Update = () => {
        const x = document.getElementById("btn-update");
        if (isNull("txtInvoiceSetupID") || isNull("txtTypeName") || isNull("txtSymbol") || isNull("txtStartDate") || isNull("txtCreateBy") || isNull("txtCreatedOn") || isNull("txtInvoiceStatus")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            if (x.style.display === "block") {
                x.style.display = "none";
            }
            x.setAttribute("type", "submit")
            document.getElementById("form_info").setAttribute("action", "@Url.Action("UpdateUser", "System")")
        }
    }

    const Create = () => {
        const x = document.getElementById("btn-create");
        if (isNull("txtInvoiceSetupID") || isNull("txtTypeName") || isNull("txtSymbol") || isNull("txtStartDate") || isNull("txtCreateBy") || isNull("txtCreatedOn") || isNull("txtInvoiceStatus")) {
            x.setAttribute("type", "button")
            alert("Cần điền đầy đủ các trường")
        } else {
            x.setAttribute("type", "submit")
            document.getElementById("form_info").setAttribute("action", "@Url.Action("CreateUser", "System")")
        }
    }

    const Search = () => {
        const x = document.getElementById("btn-search");
        const y = document.getElementById("txtInvoiceLineID");
        if (isNull("txtInvoiceLineID")) {
            x.setAttribute("type", "button")
            y.focus()
            y.parentElement.querySelector("span").innerText = "Cần điền trường này !"
        } else {
            y.parentElement.querySelector("span").innerText = ""
            x.setAttribute("type", "submit")
            document.getElementById("form_info").setAttribute("action", "@Url.Action("Index", "System")")
        }
    }

    const Refresh = () => {
        document.getElementById("form_info").setAttribute("method", "GET")
        document.getElementById("form_info").setAttribute("action", "@Url.Action("Index", "System")")
    }

</script>


